@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(svg, path, a) {
  font-family: 'Poppins';
  color: #353535;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/*For navbar hamburger*/
.custom-hamburger, .active-hamburger{
  @apply w-[30px] h-[3px] bg-white rounded-[5px] shadow-[0px_2px_5px_rgba(255,101,47,0.2)] transition-all duration-500 ease-in-out;
}
.custom-hamburger::before, .custom-hamburger::after, .active-hamburger::before, .active-hamburger::after{
  @apply content-[''] absolute left-0 w-[30px] h-[3px] bg-white rounded-[5px] transition-all duration-500 ease-in-out;
}
.active-hamburger {@apply bg-transparent;}

.custom-hamburger::before{@apply -translate-y-[10px];}
.custom-hamburger::after{@apply translate-y-[10px];}
.active-hamburger::before {transform: rotate(45deg);}
.active-hamburger::after {transform: rotate(-45deg);}

.menu-card::after{
  position: absolute;
  content: '';
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  height: 100px;
  width: 2px;
  background-color: #EFEFEF;
  border-radius: 20px;
  z-index: 2;
}

ol{
  list-style-type: decimal !important;
  /* margin: 1em 0; */
  padding: 0 0 0 40px;
}

ul {
  list-style-type: disc !important; 
  /* margin: 1em 0; */
  padding: 0 0 0 40px; 
}


/*Komunikaty*/
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/*Ograniczenie liczby znaków w postach (komunikaty)*/
.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ustaw, ile linii ma być wyświetlonych */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Ustaw wysokość odpowiednio do liczby linii */
}

/*Kontakt animacja inputa*/

.contact-form input:focus + span,
.contact-form input:valid + span,
.contact-form textarea:focus + span,
.contact-form textarea:valid + span{
  padding-top: 10px;
  transform: translate(0px, -25px);
  font-size: 13px;
  letter-spacing: 2.4px;
}

.contact-form textarea:focus + span,
.contact-form textarea:valid + span{
  padding-top: 20px;
}

.contact-form input:focus, .contact-form input:valid{padding-top: 15px;}

.contact-form textarea:focus, .contact-form textarea:valid{margin-top: 20px;}



/*Kontakt style do input type radio*/
#kontakt .circle::before{
  content: "";
  height: 15px;
  width: 15px;
  border: 2px solid #5A7889;
  border-radius: 50%;
  display: inline-block;
  transition-duration: 700ms;
  cursor: pointer;
}

#kontakt input[type="radio"]:checked + .radio-label .circle::before {
  background-color: #5A7889;
  border-color: #3b585e; 
  transform: scale(1.2);
}

/*Tostify  succes*/
.Toastify__progress-bar--success{background: #5A7889 !important;}
.Toastify__toast-icon > svg{fill: #5A7889 !important;}

/*Style do historii*/
::-webkit-file-upload-button{
  background: #5A7889;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border: 15px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 15px solid #5A7889;
  animation: l18 2s infinite linear;
}
@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}

/*Style dla ogłoszeń*/

.announcements-container > ol{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block: 20px;
  font-size: 18px;
}

.announcements-container p {font-size: 18px;}
.announcements-container > ol > li > ul{margin-block: 20px;}
.announcements-container h4{font-size: 25px;}
.announcements-container h4{font-size: 22px;}
.announcements-container li::marker{font-weight: 600;}

@media only screen and (max-width: 767px){
  .announcements-container p {font-size: 15px;}
  .announcements-container h4{font-size: 20px;}
  .announcements-container h4{font-size: 18px;}
}

.announcement-red :is(h4, h4 > strong), .announcement-red li::marker{color: #e01111}
.announcement-green :is(h4, h4 > strong), .announcement-green li::marker{color: #3C9530}
.announcement-purple :is(h4, h4 > strong), .announcement-purple li::marker{color: #860ac9}
.announcement-pink :is(h4, h4 > strong), .announcement-pink li::marker{color: #ff3dfb}
.announcement-gold :is(h4, h4 > strong), .announcement-gold li::marker{color: #e1b90a}